*{
    margin:0 ;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Popins";
}
html{
    font-size: 62%;

}
body{
    background-color: rgb(22, 2, 2);
    color: rgb(238, 210, 210);
}
.headers-w{
    position: fixed;  
    width: 100vw;
    top: 0;
    left: 0;
    padding: 4vw 5vw ;
    background-color:  rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2000;
}
.nav-b a{
    font-size: 1.5vw;
    color: rgb(216, 192, 192);
    margin-left: 4vw;
    transition: 0.2s ease-in-out;
    font-weight: 775;
}
.nav-b a:hover{
    color: rgb(77, 96, 244);
    border-bottom: 2px solid rgb(255, 237, 237);
}
.contact-but{
    font-size: 1.7vw;
    padding: 1vw  2vw;
    border-radius: 3rem;
    background: linear-gradient(
        270deg,rgb(221, 221, 235) 10%,rgb(11, 22, 212) 100%
    );
    margin-right: 9svw;
    letter-spacing: 1px;
    color: white;
    transition: 0.3s ease-in-out;
}
.contact-but:hover{
    transform: scale(1.2);
}
section{
    min-height: 10vh;
padding: 5vw 15%;

}
#home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15vw;
}
.hom-div{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-end;
    padding-top: 12vw;

}
.hom-div h1{
    font-size: 6vw;
    font-weight: 100;
    margin-top: 1.5vw;
    line-height:1 ;
    background: linear-gradient(750deg,rgb(255, 0, 2) 10%,rgb(28, 10, 10) 100%);
    background-clip: text;
    color: transparent;
}
.hom-div h1 span{
    font-family: fantasy;
}
.hom-div h2{
    margin: 1vw 0;
    font-size: 3vw;

}
.hom-div p{
    font-size: 1.3vw;
    font-weight: 500;
    line-height: 1.6;
   
}
.pro-img img{
    width: 30vw;
border-radius: 50%;
box-shadow: 0px 0px 50px rgb(249, 70, 70);

transition: 1s ease-in-out;
}
.pro-img img:hover{
    box-shadow: 0px 0px 50px rgb(228, 67, 67),
    0px 0px 100px rgb(202, 51, 51),
    0px 0px 200px rgb(235, 29, 29) ;
    transform: scale(1.1)translateY(-7px);
    transform: rotate(360deg);
}
.so-ico a{
display: inline-flex;
justify-content: center;
align-items: center;
font-size: 3vw;
padding: 1vw;
background: transparent;
margin: 3vw 0.5vw;
transition: 0.2s ease-in-out;
border-color: rgb(150, 150, 183);
border-width: 1px;
border-style: solid;
border-radius: 50%;
}
.so-ico a:hover{
    color: red;
    transform: scale(1.7)translateY(-4px);
    background-color: rgb(10, 74, 10);
}
.skill h2{
    font-size: 10vw;
    font-weight: 100;
    margin-top: 1.5vw;
    line-height:1 ;
    background: linear-gradient(750deg,rgb(255, 0, 2) 10%,rgb(28, 10, 10) 100%);
    background-clip: text;
    color: transparent;
    text-align: center;
}
.skill{
    align-items: center;
    text-align: center;

}
.skill-i{
   display: flex;
   flex-direction: row;
  
}
.skill-is{
text-align: center;
display: inline;
justify-content: center;
align-items: center;
width: 14vw;
font-size: 4vw;
height: 14vw;
padding: 5vw;
background: transparent;
margin-right: 12vw;
margin-bottom: 2.5vw;
margin-top: 2.5vw;
transition: 0.2s ease-in-out;
border-color: rgb(150, 150, 183);
border-width: 1px;
border-style: solid;
border-radius: 10%;
}
.skill-i a:hover{
    color: red;
    transform: scale(1.1)translateY(-4px);
    background-color: rgb(10, 74, 10);
}
a{
   color: green;
}
.cyss{
    text-align: center;

}
input{
    margin: 3vw;
    font-size: 3vw;
    border-radius: 7%;
    background: linear-gradient(250deg,rgb(190, 25, 25) 10%,rgb(255, 255, 255) 100%);
}
.sub-m{
    font-size: 3vw;
    padding: 1rem;
    border-radius: 1vw;
    margin-top: 1vw;
    background-color: green;
    color: wheat;
    border: 2px solid yellow;
}
.ab-name{
    font-size: 7vw;
    animation: wow 8s 1;
}
.ab-name:nth-child(1){animation-delay: 1s;}
.ab-name:nth-child(2){animation-delay: zs;}
.ab-name:nth-child(3){animation-delay: 3s;}
.ab-name:nth-child(4){animation-delay: 4s;}
.ab-name:nth-child(5){animation-delay: 5s;}
.ab-name:nth-child(6){animation-delay: 6s;}
.ab-name:nth-child(7){animation-delay: 7s;}
.ab-name:nth-child(8){animation-delay: 8s;}
@keyframes wow {
from{font-size:0vw;}
to{font-size:7vw;}
}
.mt{
    margin-top: 65vw;
}
.bm{
    margin-bottom: 100vw;
}